<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeEvents</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" >
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'AwesomeEvents', root_path, class: 'navbar-brand' %>
        </div>

        <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'イベントを作る', new_event_path, class: 'nav-link' %>
            </li>
            <% if logged_in? %>
            <li class="nav-item">
              <%= link_to '退会', user_retire_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', logout_path, class: 'nav-link' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to 'Twitterでログイン', '/auth/twitter', class: 'nav-link' %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>

    <div class="container">
      <% if flash[:notice] %>
      <div class="alert alert-success mt-4 mb-2 pb-2">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div class="alert alert-danger mt-4 mb-2 pb-2">
        <%= flash[:alert] %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
